<footer class="footer">
  <div class="footer-content">
    <ul class="social-links">
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/images/facebook.png" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/insta.png" alt="Instagram" />
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/images/twitter.png" alt="Twitter" />
        </a>
      </li>
    </ul>
    <div class="footer-info">
      <p>&copy; 2024 Baked Justice. All rights reserved.</p>
      <p>
        <a href="/privacy-policy">Privacy Policy</a> |
        <a href="/terms-of-use">Terms of Use</a>
      </p>
    </div>
    <div class="elfsight-app-40462125-a7eb-4054-ab1c-d9f5ab6ffbc0" data-elfsight-app-lazy></div>
  </div>
</footer>
