<div class="contact-us-section">
  <h2>Contact Us</h2>
  <p>
    We'd love to hear from you! Whether you have a question about our products,
    need assistance with an order, or just want to share your thoughts, feel
    free to reach out to us.
  </p>
  <div class="contact-details">
    <p>
      <strong>Email:</strong>
      <a href="mailto:info@bakedjustice.com">infobakedjustice.com</a>
    </p>
    <p><strong>Phone:</strong> (601) 456-7890</p>
    <p>
      <strong>Address:</strong> 123 Legal Ave, Suite 456, Jackson,MS 39202 USA
    </p>
  </div>
  <p>
    You can also follow us on social media for the latest updates and
    promotions:
  </p>
  <div class="social-media">
    <a href="https://www.facebook.com/bakedjustice" target="_blank">Facebook</a>
    |
    <a href="https://www.twitter.com/bakedjustice" target="_blank">Twitter</a> |
    <a href="https://www.instagram.com/bakedjustice" target="_blank"
      >Instagram</a
    >
  </div>
</div>
