<div class="contact-us-section">
  <h2>Contact Us</h2>
  <p>
    We'd love to hear from you! Whether you have a question about our products,
    need assistance with an order, or just want to share your thoughts, feel
    free to reach out to us.
  </p>
  <div class="contact-details">
    <p>
      <strong>Email:</strong>
      <a href="mailto:info@bakedjustice.com">infobakedjustice.com</a>
    </p>
    <p><strong>Phone:</strong> (601) 456-7890</p>
    <p>
      <strong>Address:</strong> 123 Legal Ave, Suite 456, Jackson,MS 39202 USA
    </p>
  </div>
  <p>
    You can also follow us on social media for the latest updates and
    promotions:
  </p>
  <div class="social-media">
    <a href="https://www.facebook.com/bakedjustice" target="_blank">Facebook</a>
    |
    <a href="https://www.twitter.com/bakedjustice" target="_blank">Twitter</a> |
    <a href="https://www.instagram.com/bakedjustice" target="_blank"
      >Instagram</a
    >
</div>

<iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=123%20Legal%20Ave%20Jackson+(Baked%20Justice)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.easybooking.eu/produkte/julia-hotelsoftware'>Hotelprogramme kleine Hotels</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=41d9c24ba4349611e83691bf7b45f12c9c27e6e1'></script>
</div>
